@import "reset.css";

body {
    font-family: 'Roboto', sans-serif;
}

p {
    color: #fff;
}

.box {
    max-width: 1120px;
    margin: 0 auto;
    padding: 102px 0;

}

.blockTitle {
    flex: 1 1 auto;
    margin: 16px 0 24px 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}

.bigBTitle {
    flex: 1 1 auto;
    
}

.ttl {
    margin: 16px 29px;
    font-size: 24px;
    line-height: 31px;
    font-weight: 500;
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding-bottom: 15px;
    margin-left: 33px;
}

.description2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding-bottom: 15px;
    margin-left: 33px;
}

.flexA {
    display: flex;
}

.flexB {
    display: flex;
    flex-direction: column;
}

.bottom {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;

    margin:0 0 19px 25px ;
}
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*------------------------Photo256px----------------------*/

.Namibia {
    width: 256px;
    height: 256px;
    background: url('Rectangle_25.png')no-repeat;
}

.Kenia {
    width: 256px;
    height: 256px;
    background: url('Rectangle_44.png') no-repeat;
}

.Bitsvana {
    width: 256px;
    height: 256px;
    background: url('Rectangle_63.png') no-repeat;
}

.Safrica {
    width: 256px;
    height: 256px;
    background: url('Rectangle_64.png') no-repeat;
}

.Keyptaun {
    width: 256px;
    height: 256px;
    background: url('Rectangle_65.png') no-repeat;
}

.UAR {
    width: 256px;
    height: 256px;
    background: url('Rectangle_67.png') no-repeat;
}

.Zanzibare {
    width: 256px;
    height: 256px;
    background: url('Rectangle_66.png') no-repeat;
}

.Victoria {
    width: 256px;
    height: 256px;
    background: url('Rectangle_68.png') no-repeat;
}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*------------------------Photo544px----------------------*/

.Tanzania {

    width: 544px;
    height: 544px;
    background: url('Rectangle_34popular-3.png') no-repeat;
}

.Africa {
    width: 542px;
    height: 544px;
    background: url('Rectangle_69.png') no-repeat;
}



/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*-------------------------Grid---------------------------*/

.block {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.flexA:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
}

.flexA:nth-child(6) {
    grid-column: span 2;
    grid-row: span 2;
}

